body {
    border:1px solid red;
    overflow:hidden;
    font-family: "Helvetica Neue";
    height:100%;
    margin:0;
    padding:0px;
}

#container {
    margin:100px;
}

h1, p {
    padding-bottom:25px;
}

div {
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

#item, #item2, #item3 {
	float:left;
}

#item {
	background-color:#fee;
	padding:30px;
	border:1px solid red;
	font-size:3px;
	margin-right:50px;
	margin-bottom:50px;
}

#item2 {
	background-color:#eef;
	border:1px solid blue;
	padding:30px;
	font-size:3px;
	margin-right:50px;
	margin-bottom:50px;
	width:93px;
	height:66px;
	overflow:hidden;
	box-sizing:border-box;
	-moz-box-sizing: border-box;
}

#item2 span {
    display:block;
	font-size:15px;
	width:465px;
	-webkit-transform: scale(0.2);
	-moz-transform: scale(0.2);
	-o-transform: scale(0.2);
}