.page-header h1 {
    margin: 0;
}

p.ok {
    border-left: 3px solid #36BD68;
    padding-left: 5px;
}

p.error {
    border-left: 3px solid #DE8768;
    padding-left: 5px;
}

.circle {
    border-radius: 50%;
    display: block;
    width: 18px;
    height: 18px;
}

span.color {
    width: 100%;
    height: 1.25em;
    display: block;
    box-shadow: 0 1px 2px 0 rgba(204, 204, 204, 0.5);
}

#left-nav .dropdown-menu {
    /*width: 100%;*/
    position: static;
    border-radius: 0;
    border: 0;
    float: none;
    margin: 0;
    padding: 0;
}

#left-nav .dropdown-menu > li > a {
    padding: 10px 15px;
}

.second.nav {
    margin-left: 25px;
}

.second.nav *:last-child {
    border-bottom: none;
}

.navbar-brand {
    padding: 7px 15px;
}

.navbar-brand span {
    margin-top: 8px;
    display: inline-block;
}

.navbar-brand img {
    height: 100%;
}

.nav > .active > a {
    text-decoration: none;
    background-color: #eee;
}

.nav > li > a:hover, .nav > li > a {
    position: relative;
}

.nav > li > a:before {
    content: '';
    background-color: #eee;
    transform: rotateY(90deg);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    transform-origin: left;
    -webkit-transition: transform 0.2s ease-in-out;
    -moz-transition: transform 0.2s ease-in-out;
    -ms-transition: transform 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}

.nav > li > a:hover:before, .nav > li > a:focus:before {
    transform: rotateY(0deg);
}

@media (min-width: 768px) {
    #page-wrapper {
        padding-bottom: 30px;
        border-bottom: 1px solid #e7e7e7;
    }
}

textarea.form-control {
    max-width: 100%;
}

#page-wrapper table .icon {
    margin-right: 8px;
}

#album-images .image {
    display: inline-block;
    margin: 10px;
    position: relative;
}

#album-images .image .glyphicon-remove {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #000000;
    text-shadow: 1px 1px 5px #ffffff;
}

#album-images .image:hover .glyphicon-remove {
    color: #0000ff;
}

#album-images .image .glyphicon-remove:hover {
    color: red;
}

.file-upload-indicator {
    padding-top: 0;
}

.file-upload-indicator:hover {
    font-size: 1em;
}

.image img {
    max-width: 100%;
}
.overlay {
    position: fixed;
    display: none;
    z-index: 9999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay svg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 50%;
    height: 50%;
}

.overlay .count {
    position: absolute;
    top: 5%;
    right: 5%;
    color: #fff;
    font-size: 50px;
}
