span.color-fill {
    width: 25px;
    height: 20px;
    display: block;
}

span.color {
    width: 100%;
    height: 1.25em;
    display: block;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: box-shadow 0.3s ease-in-out;
    -moz-transition: box-shadow 0.3s ease-in-out;
    -ms-transition: box-shadow 0.3s ease-in-out;
    -o-transition: box-shadow 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out;
}

span.color:hover {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
}

span.markup {
    color: #0a6aa1;
}

span.set_markup {
    color: #4C626D;
}

.form-group .color, .select2-container .color {
    width: 20px;
    display: inline-block;
    height: 1em;
    vertical-align: middle;
    margin-right: 0.5em;
}

.image img {
    max-width: 100%;
}

.overlay {
    position: fixed;
    display: none;
    z-index: 9999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay svg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 50%;
    height: 50%;
}

.overlay .count {
    position: absolute;
    top: 5%;
    right: 5%;
    color: #fff;
    font-size: 50px;
}

p.ok {
    border-left: 3px solid #00a65a;
    padding-left: 5px;
}

p.error {
    border-left: 3px solid #f56954;
    padding-left: 5px;
}

#stop {
    position: absolute;
    bottom: 5%;
    right: 5%;
    color: #fff;
    font-size: 50px;
}

.table .image img {
    max-height: 50px;
}

.todo-list .handle {
    margin: 6px;
}

#groups-table tr.active > td {
    background-color: #a3d0ef;
}

.grid-view tr.active td {
    background-color: #a3d0ef !important;
}

#groups-table img {
    width: 50px;
}

label {
    cursor: pointer;
}

.text-align-right {
    text-align: right;
}

.box-header > .box-tools {
    top: 10px;
}

.checkbox label {
    cursor: pointer;
}

.checkbox label input[type=checkbox] {
    margin-left:0;
    left:0;
}

