@media print {
    * {
        visibility: hidden;
    }
    a[href="#top"] {
        display: none;
    }
    body#top {
        margin:0;
    }
    .header *, .aside *, #footer *, .col-lg-12 *, .col-lg-3 *, .print-link {
        display:none;
    }
    .printable *{
        visibility: visible;
    }
    .wrapper {
        width: 780px !important;
        height: 250px !important;
        margin: 0 auto;
        padding: 1px 0;
        position: relative;
    }
    .logo_print {
        display: inline-block !important;
        vertical-align: top;
        position: relative;
        margin-right: 40px;
        /*  float:left;*/
    }
    .logo_print img{
        width: 200px;
        text-align: left;
    }
    .logo_print-text {
        display: inline-block !important;
        vertical-align: top;
        text-align: right;
        font-size: 14px;
        font-weight: 400;
        position: relative;
        width: 530px;
    }
    .line1 {
        border-bottom: 1px solid black;
        margin-bottom: 10px;
        padding-bottom: 1px;
        font-weight: 700;
        font-family: 'CoreSans', sans-serif;
        font-style: italic;
        text-align: center;
    }
    .line2{
        border-bottom: 1px solid black;
        padding-bottom: 10px;
    }
    @page {
        margin: 1cm;
    }
    .t2{
        display: inline !important;
    }
    .t1{
        text-decoration: underline;
    }
}
