/*@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&subset=latin,cyrillic);*/

@font-face {
    font-family: "Rubik";
    src: url("../fonts/Rubik/Rubik-Bold.ttf");

    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Rubik";
    src: url("../fonts/Rubik/Rubik-Medium.ttf");

    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Rubik";
    src: url("../fonts/Rubik/Rubik-Regular.ttf");

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Rubik";
    src: url("../fonts/Rubik/Rubik-Light.ttf");

    font-weight: 300;
    font-style: normal;
}

body, a {
    font-family: 'Rubik', sans-serif;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 530px;
}

@media (min-width: 992px) {
    body {
        margin-bottom: 270px;
    }
}

body > .bg {
    background: url("/images/brilliant.png");
    background-color: #f9f9f9;
    position: absolute;
    width: 100%;
    bottom: 0;
    top: 0;
    z-index: -1;
}

::-moz-selection {
    background: #E5231B;
    color: #fff;
}

::selection {
    background: #E5231B;
    color: #fff;
}

*:focus, *:active {
    outline: none !important;
}

h1 {
    margin: 0;
    font-size: 28px;
    line-height: 32px;
}

h2 {
    margin: 10px;
}

h2 a {
    font-size: inherit;
    font-weight: inherit;
}

hr {
    border-top: 1px solid #119279;
}

hr.orange {
    border-color: #E56B1B;
}

a {
    color: #337ab7;
    /*font-size: 16px;*/
    opacity: 1;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -ms-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
}

a:hover, a:active, a:focus {
    text-decoration: none;
}

a:hover, ul li a:focus, ul li a:active {
    outline: none;
}

a.active {
    font-weight: 500;
}

ul ul, ol ul, ul ol, ol ol {
    margin-bottom: 0;
    padding-left: 25px;
}

sub {
    bottom: 0;
    color: #838D8E;
}

.inline-string {
    max-width: 50%;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.light {
    font-weight: 300 !important;
}

/* Modal */

.modal-content {
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

/* Head */

a[href="#top"] {
    position: fixed;
    bottom: 90px;
    right: 30px;
    font-size: 12px;
    line-height: 11px;
    text-align: center;
    border: 1px solid #333;
    width: 60px;
    height: 70px;
    padding: 3px 0;
    font-weight: 500;
    border-radius: 5px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    background: #fff;
    z-index: 9;
    opacity: 0;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
    color: #e5231b;
}

a[href="#top"].display {
    opacity: 1;
}

a[href="#top"] i {
    font-size: 48px;
    display: block;
}

.header-wrapper {
    background-color: #fff;
    margin: 0 auto;
    padding: 7px 0;
    position: relative;
    z-index: 1;
    border-bottom: solid 4px #E5231B;
    margin-bottom: 15px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}

.navbar-brand {
    float: none;
    height: auto;
    padding: 0;
}

.icon:before {
    font-family: "Ionicons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.call {
    text-decoration: none;
    margin: 10px 0;
    display: block;
    text-align: center;
}

.call span {
    margin-left: 10px;
    font-size: 2.5vw;
    color: #343C40;
    font-weight: 500;
    text-decoration: none;
    vertical-align: middle;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -ms-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
}

@media (min-width: 768px) {
    .call span {
        font-size: 15px;
    }
}

.call:hover span {
    color: #646F74;
}

.call .icon {
    vertical-align: middle;
    position: relative;
}

.call .icon:before {
    border-radius: 100%;
    font-size: 19px;
    width: 28px;
    height: 28px;
    line-height: 23px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    color: #E5231B;
    border: solid 2px #E5231B;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -ms-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
}

.call .icon:after {
    border-radius: 100%;
    font-size: 17px;
    width: 26px;
    height: 26px;
    line-height: 23px;
    content: '';
    background-color: #E5231B;
    display: block;
    position: absolute;
    top: 75%;
    left: 63%;
    margin-top: -17px;
    margin-left: -17px;
    z-index: -1;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: transform 0.2s;
    -moz-transition: transform 0.2s;
    -ms-transition: transform 0.2s;
    -o-transition: transform 0.2s;
    transition: transform 0.2s;
}

.call:hover .icon:before {
    color: #fff;
}

.call:hover .icon:after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.head-phone {
    display: block;
    color: #343C40;
    font-weight: 500;
    font-size: 22px;
    text-decoration: none;
    text-align: center;
    /* margin-bottom: 15 px;*/
    margin-left: -45px;
}

/*@media (min-width: 768px) {*/
/*#head-phone {*/
/*font-size: 20px;*/
/*}*/
/*}*/

.login {
    padding-top: 6px;
    margin: 8px 0 13px;
}

.login a {
    color: #343C40;
    font-weight: 500;
    font-size: 13px;
    /*text-decoration: none;*/
    margin-right: 3px;
}

.locin a:last-child {
    margin-right: 0;
}

.login a:hover {
    color: #565e62;
    text-decoration: underline;
}

/* Form */

::-webkit-input-placeholder {
    font-size: 16px;
    font-weight: 300;
    color: #B4C2C3;
}

::-moz-placeholder {
    font-weight: 300;
    color: #B4C2C3;
}

/* Firefox 19+ */
:-moz-placeholder {
    font-weight: 300;
    color: #B4C2C3;
}

/* Firefox 18- */
:-ms-input-placeholder {
    font-weight: 300;
    color: #B4C2C3;
}

.form-icon {
    background-color: #fff;
    border: solid 1px #223742 !important;
    box-shadow: none;
    border-radius: 8px;
    display: inline-block;
    outline: none;
    position: relative;
    width: 100%;
    padding: 4px 3px 4px 34px;
    overflow: hidden;
}

input:active, input:focus {
    box-shadow: none;
}

input.search-field {
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    vertical-align: middle;
    width: 100%;
    padding-right: 30px;
}

.search-submit {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 36px;
    border: none;
    background: none;
    font-size: 32px;
    line-height: 32px;
    color: #223742;
    outline: none;
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    -ms-transition: -ms-transform 0.2s;
    -o-transition: -o-transform 0.2s;
    transition: transform 0.2s;
}

.form-icon.active .search-submit {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.form-icon:before {
    font-family: "Ionicons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f4a5";
    font-size: 20px;
    line-height: 20px;
    color: #223742;
    position: absolute;
    top: 6px;
    left: 8px;
}

.shopping-cart {
    border-radius: 10px;
    position: relative;
    padding: 0px;
}

.cart-content {
}

.shopping-cart:hover .cart-content {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s, visibility 0s;
}

div {
}

.shopping-cart h5 {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 0px;
}

@media (min-width: 1200px) {
    .shopping-cart h5 {
        margin-top: 5px;
    }
}

.shopping-cart p {
    margin-bottom: 5px;
}

.shopping-cart .cart-icon {
    float: left;
    margin-right: 25px;
    margin-top: 10px;
    height: 60px;
}

.cart .table > tbody > tr > td {
    vertical-align: middle;
}

.cart td img {
    max-height: 50px;
    margin-right: 10px;
}

.cart .overlay {
    opacity: 0;
    visibility: hidden;
}

.cart tr.removed {
    position: relative;
}

.cart tr.removed .overlay {
    content: '';
    position: absolute;
}

/* Navbar */

.navbar-default {
    /*background: #fff;*/
    border-radius: 0;
    min-height: 44px;
    border: 0;
    /*box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);*/
}

.navbar-default .navbar-nav > li > a {
    color: #343C40;
    font-weight: 500;
    font-size: 16px;
    /*padding-left: 60px;*/
}

.navbar-default .navbar-nav > li > a > span {
    line-height: 16px;
    display: inline-block;
    vertical-align: middle;
}

/*.navbar-nav a:before {*/
/*color: #E5231B;*/
/*display: inline-block;*/
/*font-size: 32px;*/
/*margin-left: -45px;*/
/*vertical-align: middle;*/
/*}*/

.navbar-brand-small {
    display: none;
}

.navbar-brand > img {
    max-height: 88px;
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
}

@media (min-width: 768px) {
    #navbar {
        padding: 0;
    }

    #navbar li {
        display: table-cell;
        float: none;
    }

    #navbar .nav {
        display: table;
        width: auto;
        border-spacing: 10px 0px;
        margin: 0px -40px;
    }
}

/*#navbar .item:before {*/
/*background: no-repeat 50%;*/
/*background-size: contain;*/
/*display: block;*/
/*content: '';*/
/*position: absolute;*/
/*height: 100%;*/
/*width: 25px;*/
/*left: 12px;*/
/*top: 0;*/
/*}*/

#navbar .item a i {
    display: block;
    position: absolute;
    height: 24px;
    width: 24px;
    left: 12px;
    top: 50%;
    margin-top: -12px;
    font-size: 25px;
    text-align: center;
    color: #e5231b;
}

#navbar .item:hover a i,
#navbar .item.active a i {
    color: #fff;
}

/*#navbar .item-1:before {*/
/*background-image: url("img/pen.png");*/
/*}*/

/*#navbar .item-1:hover:before {*/
/*background-image: url("img/pen-inv.png");*/
/*}*/

/*#navbar .item-2:before {*/
/*background-image: url("img/cup.png");*/
/*}*/

/*#navbar .item-2:hover:before {*/
/*background-image: url("img/cup-inv.png");*/
/*}*/

/*#navbar .item-3:before {*/
/*background-image: url("img/shirt.png");*/
/*}*/

/*#navbar .item-3:hover:before {*/
/*background-image: url("img/shirt-inv.png");*/
/*}*/

/*#navbar .item-4:before {*/
/*background-image: url("img/book.png");*/
/*}*/

/*#navbar .item-4:hover:before {*/
/*background-image: url("img/book-inv.png");*/
/*}*/

/*#navbar .item-5:before {*/
/*background-image: url("img/calendar.png");*/
/*}*/

/*#navbar .item-5:hover:before {*/
/*background-image: url("img/calendar-inv.png");*/
/*}*/

#navbar .item a {
    padding-left: 46px;
}

#navbar .item a:hover {
    opacity: 1;
}

@media (min-width: 768px) {
    #navbar .item a {
        padding-left: 15px;
        font-size: 15px;
    }

    #navbar .item:before {
        display: none;
    }

    #navbar .technology span {
        font-size: 15px;
    }

    #navbar .item a i {
        display: none;
    }
}

@media (min-width: 992px) {
    #navbar .item a {
        padding-left: 50px;
        font-size: 16px;
        padding-top: 4px;
        padding-bottom: 4px;
    }

    #navbar .item:before {
        display: block;
    }

    #navbar .technology span {
        font-size: 16px;
    }

    #navbar .item a i {
        display: block;
    }
}

#navbar .item {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

/*#navbar .item a {*/
/*-webkit-transition: all 0.2s;*/
/*-moz-transition: all 0.2s;*/
/*-ms-transition: all 0.2s;*/
/*-o-transition: all 0.2s;*/
/*transition: all 0.2s;*/
/*}*/

#navbar .item:hover,
#navbar .item.active {
    background-color: #e5231b;
}

#navbar .item:hover a,
#navbar .item.active a {
    color: #ffffff;
}

#navbar .technology {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    background-color: #e56b1b;
    z-index: 0;
}

#navbar .technology span {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

/*#navbar .technology:hover span {*/
/*text-shadow: 1px 1px 1px #000*/
/*}*/

#navbar .technology:before, #navbar .technology:after {
    top: 0;
    content: "";
    background: #ffffff;
    position: absolute;
    height: 100%;
    width: 75px;
    left: 40px;
    -webkit-transform: skewX(-45deg);
    -moz-transform: skewX(-45deg);
    -ms-transform: skewX(-45deg);
    -o-transform: skewX(-45deg);
    transform: skewX(-45deg);
    opacity: 0.2;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

#navbar .technology:hover:before {
    /*transform: translate(100, 0);*/
    left: 340px;
    /*width: 1000px;*/
    /*transform: skewX(-35deg);*/
}

#navbar .technology:after {
    left: -240px;
    z-index: -1;
}

#navbar .technology:hover:after {
    left: 40px;
}

#navbar .technology a {
    color: #ffffff;
    font-weight: 500;
    padding: 5px 15px 5px 25px;
    text-transform: uppercase;
}

/* Additional Header */

.add-header {
    border-bottom: solid 4px #E5231B;
    background: #FFFFFF;
    position: fixed;
    /*height: 54px;*/
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0;
    visibility: hidden;
}

.add-header.active {
    /*display: block;*/
    visibility: visible;
    opacity: 1;
}

.navbar-default.fixed {
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    left: 0;
    right: 0;
    top: 106px;
    z-index: 998;
}

@media (min-width: 992px) {
    .navbar-default.fixed {
        top: 59px;
    }
}

.cap {
    width: 100%;
    display: none;
}

/* Left Nav */
/*.left-nav a {*/
/*color: #444;*/
/*}*/

/*.left-nav a:active, .left-nav a:focus {*/
/*color: #444;*/
/*}*/

a.main > span {
    /*background-color: #FFDDDD;*/
    /*border-radius: 3px;*/
    padding: 5px;
    font-weight: 400;
}

.left-nav li {
    width: 100%;
    padding: 2px;
    border-bottom: #ddd 1px dashed;
}

.left-nav ul > li > a {
    font-weight: 400;
}

.left-nav .active a, a.main.active > span {
    font-weight: 500;
    color: #E56B1B;
}

.left-nav ul, .left-nav ul ul {
    margin-left: 10px;
}

a.main {
    border: 1px #F3C1CC solid;
    margin-bottom: 10px;
    display: block;
}

.left-nav li:hover, a.main:hover {
    background-color: #ffe7e7;
}

.left-nav ul a {
    display: block;
}

a.main:hover, .left-nav ul a:hover, .left-nav ul ul a:hover {
    color: #d33333;
}

.requirements {
    height: 48px;
    line-height: 18px;
    display: block;
    padding: 6px 10px;
    background: #E56B1B;
    color: #fff;
    border-radius: 8px;
    margin-bottom: 15px;
    font-weight: 500;
}

@media (max-width: 992px) {
    .requirements {
        width: 198px;
    }
}

.requirements i {
    font-size: 40px;
    float: left;
    margin-right: 10px;
}

.requirements:hover,
.requirements:focus,
.requirements:active {
    color: #fff;
}

/* ASIDE */

.block .aside {
    background-color: #F2F5F6;
    padding-top: 15px;
    margin: -15px 0;
}

.mini-block:first-of-type {
    margin-top: 15px;
}

.mini-block {
    margin-bottom: 15px;
}

.items {
    background: #fff;
}

.bestseller .footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.bestseller .footer ul li {
    margin-bottom: 10px;
}

.bestseller .footer ul li:last-child {
    margin-bottom: 0;
}

.bestseller .footer {
    padding: 21px 18px 18px;
}

.bestseller .footer a {
    color: #4f5758;
    font-size: 16px;
    line-height: 26px;
}

.bestseller .footer a:hover {
    text-decoration: underline;
}

.bestseller .footer i {
    vertical-align: top;
    width: 38px;
}

.bestseller .new i, .bestseller .sale i, .bestseller .buy i, .bestseller .exclusive i {
    font-size: 22px;
    line-height: 26px;
    color: #57de5b;
    vertical-align: middle;
    margin-right: 5px;
}

.bestseller .sale i {
    color: #e5231b;
}

.bestseller .buy i {
    color: orange;
}

.bestseller .exclusive i {
    color: blue;
}

.main.container > .block {
    padding: 15px 0;
    position: relative;
    border-radius: 8px;
    display: flex;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    background-color: #fff;
    color: #343C40;
    margin-bottom: 20px;
}

.main.container > .block > .focal {
    width: 80%;
    padding-right: 15px;
    display: flex;
}

.main.container > .block > .aside {
    width: 20%;
    padding: 0 15px;
}

@media (max-width: 991px) {
    .main.container > .block {
        display: flex;
        flex-direction: column-reverse;
    }

    .main.container > .block > .focal {
        margin-top: 20px;
        width: 100%;
    }

    .main.container > .block > .aside {
        width: 100%;
    }

}

.main .aside > .block {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.main .aside .block {
    border-radius: 8px;
    margin-bottom: 20px;
    overflow: hidden;
}

.aside .block .header {
    background-color: #223742;
    border-radius: 8px 8px 0 0;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    padding: 8px 0;
    position: relative;
}

.aside .mini-block .header {
    background-color: #223742;
    border-radius: 8px 8px 0 0;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    padding: 8px 0;
    position: relative;
}

/*@media (min-width: 992px) {
    .aside .specials .header {
        font-size: 13px;
    }
}

@media (min-width: 1200px) {
    .aside .specials .header {
        font-size: 16px;
    }
}*/

.aside .block .header:before,
.aside .block .header:after {
    font-family: "Ionicons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f3ad";
    color: #4C626D;
    font-size: 28px;
    line-height: 21px;
    position: absolute;
}

/*.aside .mini-block .header:before,
.aside .mini-block .header:after {
    font-family: "Ionicons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f3ad";
    color: #4C626D;
    font-size: 28px;
    line-height: 21px;
    position: absolute;
}*/

.aside .block .header:before {
    left: 15px;
}

.aside .block .header:after {
    right: 15px;
}

.aside .mini-block .header:before {
    left: 15px;
}

.aside .mini-block .header:after {
    right: 15px;
}

.aside .block .footer {
    background-color: #ffffff;
    border-radius: 0 0 8px 8px;
}

.aside .mini-block .footer {
    background-color: #ffffff;
    border-radius: 0 0 8px 8px;
}

.aside .mini-block .footer.no-header {
    border-radius: 8px;
}

.aside .block .footer ul {
    margin-bottom: 0;
}

.aside .mini-block .footer ul {
    margin-bottom: 0;
}

.aside .block .image {
    background-color: #ffffff;
    height: 150px;
    padding: 15px;
    text-align: center;
}

.aside .mini-block .image {
    background-color: #ffffff;
    height: 150px;
    padding: 15px;
    text-align: center;
}

.aside .block .specials-image {
    background-color: #ffffff;
    height: 150px;
    padding: 15px;
    text-align: center;
    overflow-y: hidden;
}

.aside .mini-block .specials-image {
    background-color: #ffffff;
    height: 150px;
    padding: 15px;
    text-align: center;
    overflow-y: hidden;
}

.aside .block .image:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    margin-right: -5px;
}

.aside .mini-block .image:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    margin-right: -5px;
}

.aside .block .image img {
    max-height: 130px;
    display: inline-block;
}

.aside .mini-block .image img {
    max-height: 130px;
    display: inline-block;
}

.aside .block .text {
    background-color: #f2f5f6;
    text-align: center;
    padding: 15px;
    border-radius: 0 0 8px 8px;
}

.aside .mini-block .text {
    background-color: #f2f5f6;
    text-align: center;
    padding: 15px;
    border-radius: 0 0 8px 8px;
}

.aside .block .white {
    background-color: #ffffff;
    padding: 15px 20px;
}

.aside .mini-block .white {
    background-color: #ffffff;
    padding: 15px 20px;
}

.aside .block .text .title {
    color: #4f5758;
    font-weight: 500;
    height: 3em;
}

.aside .mini-block .text .title {
    color: #4f5758;
    height: 3em;
}

.aside .block .text .price {
    color: #4a7a77;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 7px;
}

.specials-text {
    margin-bottom: 5px;
}

/* FOOTER */
#footer {
    color: #ffffff;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #274655;
}

#footer .red-ribbon {
    background-color: #e5231b;
}

#footer .red-ribbon .phone {
    color: #f9f9f9;
    font-size: 28px;
    font-weight: 500;
    text-align: center;
}

#footer .red-ribbon .phone .glyphicon {
    font-size: 24px;
}

#footer .copyright {
    font-weight: 500;
}

@media (min-width: 992px) {
    #footer .red-ribbon .phone {
        font-size: 36px;
    }

    #footer .red-ribbon .phone .glyphicon {
        font-size: 30px;
    }
}

#footer .blue-ribbon {
    padding: 30px 0;
}

#footer .blue-ribbon .socials {
    margin: 0;
    padding: 0;
    list-style: none;
}

#map {
    width: 100%;
    height: 120px;
}

.blue-ribbon .socials li {
    margin-bottom: 10px;
}

.blue-ribbon .socials li a {
    color: #f9f9f9;
}

.blue-ribbon .socials li img {
    margin-right: 10px;
}

.btn-primary {
    background-color: #e56b1b;
    border: 0;
    display: inline-block;
    position: relative;
    z-index: 0;
}

.btn-primary:before {
    border-radius: 5px;
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #ea8949;
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    -webkit-transform: scale(0);
    transform: scale(0);
    z-index: -1;
}

.btn-primary:hover:before {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.btn-primary:hover:before,
.btn-primary:active:before,
.btn-primary:focus:before {
    transform: scale(1);
    border-radius: 4px;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background-color: #e56b1b !important;
}

.header .form-inline {
    margin: 0;
}

.form-inline {
    margin-bottom: 20px;
}

.form-inline .dropdown {
    margin-right: 10px;
    width: 124px;
}

/*.form-control, .form-control, .has-success .form-control {*/
/*background-color: transparent;*/
/*border: 1px solid #223742;*/
/*border-radius: 8px;*/
/*margin-right: 10px;*/
/*width: auto;*/
/*}*/

[class*="form-"] input.form-control:active,
[class*="form-"] input.form-control:focus,
[class*="form-"] select.form-control:active,
[class*="form-"] select.form-control:focus,
.select2-container--bootstrap.select2-container--focus .select2-selection,
.select2-container--bootstrap.select2-container--open .select2-selection {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 1px solid #119279;

}

form p {
    line-height: 34px;
    font-weight: 500;
}

#pricefrom, #priceto {
    max-width: 100px;
}

.filter-price input, .sort-type select, .sort-direction select, .filter-material .select2-selection, .filter-color .select2-selection {
    border: 1px solid #E5231B;
}

.block .header a {
    color: #fff;
    font-weight: 500;
}

.block.info ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.block.info ul li a {
    font-size: 14px;
    font-weight: 500;
    color: #4f5758;
}

.block.info ul li:before {
    font-family: "Ionicons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #e5231b;
    content: "\f120";
    margin-right: 10px;
    font-size: 15px;
    font-weight: normal;
}

.mini-block.info ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.mini-block.info ul li a {
    font-size: 14px;
    font-weight: 500;
    color: #4f5758;
}

.mini-block.info ul li a:hover {
    text-decoration: underline;
}

.mini-block.info ul li:before {
    font-family: "Ionicons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #e5231b;
    content: "\f120";
    margin-right: 10px;
    font-size: 15px;
    font-weight: normal;
}

.block.news .item {
    margin-bottom: 10px;
}

.block.news .item:last-child {
    margin-bottom: 0;
}

.block.news .date {
    color: #e5231b;
    font-size: 14px;
}

.block.news a.title {
    color: #4f5758;
    font-weight: 500;
    font-size: 14px;
}

.block.news .item:last-child .title {
    margin-bottom: 0;
}

.mini-block.news .item {
    margin-bottom: 10px;
}

.mini-block.news .item:last-child {
    margin-bottom: 0;
}

.mini-block.news .date {
    color: #e5231b;
    font-size: 14px;
}

.mini-block.news a.title {
    color: #4f5758;
    font-weight: 500;
    font-size: 14px;
}

.mini-block.news .item:last-child .title {
    margin-bottom: 0;
}

.aside .block .btn {
    border-radius: 8px;
    padding: 8px 25px 6px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
}

.aside .mini-block .btn {
    border-radius: 8px;
    padding: 8px 25px 6px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
}

.slider {
    border: 1px #e2e5e6 solid;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;
    overflow: hidden;
}

.slider .header {
    padding: 7px 25px 7px;
    border-bottom: 1px solid #223742;
    background-color: #F2F5F6;
    border-radius: 8px 8px 0 0;
}

.slider .header a, .slider .header h4 {
    font-size: 18px;
    font-weight: 500;
    color: #343c40;
    margin: 5px 0;
}

.slider .item {
    outline: none;
}

.slider .item a .title {
    font-weight: 500;
    color: #343c40;
    line-height: 16px;
    margin-top: 5px;
}

.slider .item a:hover, .slider .item a:focus {
    text-decoration: none;
}

.slider .items {
    display: none;
    padding: 10px 35px;
}

.slider .items.slick-initialized {
    display: block;
    height: 175px;
}

.slider .items.slick-initialized .slick-list {
    margin-top: 15px;
}

.slick-prev {
    left: 7px;
}

.slick-next {
    right: 7px;
}

.slick-prev:before, .slick-next:before {
    display: inline-block;
    font-family: "Ionicons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 2rem;
    opacity: .85;
    color: #223742;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
    opacity: .25;
}

.slick-next:before {
    content: '\f125';
}

.slick-prev:before {
    content: '\f124';
}

.slick-prev, .slick-next {
    background: transparent;
    border: none;
    color: transparent;
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 40px;
    line-height: 0;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    outline: none;
    padding: 0;
    width: 20px;
    z-index: 1;
}

.slider .item .parent {
    width: 100%;
    height: 120px;
    overflow: auto;
    text-align: center;
    font-size: 0;
}

.slider .item .image {
    display: inline-block;
    white-space: normal;
    vertical-align: middle;
}

.parent:before {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    content: '';
}

.slick-slide .image img {
    margin: 0 auto;
    max-width: 100%;
    max-height: 120px;
}

.slick-slide .title {
    text-align: center;
}

#technology {
    background-color: rgba(0, 0, 0, 0.04);
    padding: 20px 0;
    position: relative;
    box-shadow: inset 0 4px 6px -4px rgba(0, 0, 0, 0.2), inset 0 -4px 6px -4px rgba(0, 0, 0, 0.2);
}

#technology .header, .technology .header {
    color: #473d3d;
    font-size: 20px;
    margin: 0 0 20px;
    text-align: center;
    text-transform: uppercase;
}

#technology .image, .technology .image {
    height: 150px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#technology .image img {
    max-width: 100%;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: grey;
    -webkit-filter: grayscale(100%);
    transition: filter 200ms;
    -webkit-transition: -webkit-filter 200ms;
}

#technology .link:hover .image img {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
}

#technology .box, .technology .box {
    display: table;
    width: 100%;
    margin-bottom: 10px;
}

#technology a, .technology a {
    text-decoration: none;
}

#technology .title, .technology .title {
    border-top: 1px dashed #d88;
    text-align: center;
    display: block;
    margin-bottom: 20px;
    background-image: linear-gradient(to top, #fff, #fdd);
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    height: 3em;
    color: #333;
    padding: 4px 5px;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -ms-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
    /*font-size: 16px;*/
    /*line-height: 16px;*/
    /*transition: color 0.2s;*/
    /*font-weight: 500;*/
    /*color: #473d3d;*/
    /*text-align: center;*/
    /*text-transform: uppercase;*/
    /*height: 44px;*/
}

#technology a:hover .title, .technology a:hover .title {
    color: #e5231b;
}

@media (min-width: 992px) {
    .col-md-20 {
        float: left;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        position: relative;
        width: 20%;
        margin-bottom: 20px;
    }
}

.gifts.block {
    padding: 20px 0;
}

.gifts.block .header {
    color: #5b5353;
    font-size: 20px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.gifts.block .image {
    text-align: center;
}

.card {
    position: relative;
    float: left;
    /*width: 185px;*/
    height: 140px;
    text-align: center;
}

.card__front,
.card__back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.card__front,
.card__back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.7s;
    transition: transform 0.7s;
}

.card__front .title {
    font-weight: 500;
    font-size: 16px;
}

.card__back {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    background-color: #f2f5f6;
    border-radius: 8px;
    text-align: left;
    padding: 10px 15px;
}

.card__back .title {
    height: 1.5em;
    margin: 0 0 8px;
}

.card__back .title:before {
    content: '';
    display: inline-block;
    min-height: inherit;
    height: 100%;
    vertical-align: middle;
}

.card__back .title h4 {
    font-size: 14px;
    line-height: 1em;
    font-weight: 500;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
}

.card__back a {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.2em;
}

.card.effect__hover:hover .card__front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.card.effect__hover:hover .card__back {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

/* Catalog */

.breadcrumb {
    padding: 0;
    background-color: transparent;
    font-size: 16px;
}

a.category {
    text-decoration: none;
    display: block;
}

.category .image {
    text-align: center;
    padding: 10px;
    height: 160px;
}

.category .image:before {
    display: inline-block;
    content: '';
    vertical-align: middle;
    height: 100%;
    margin-right: -4px;
}

.category .image img {
    display: inline;
    vertical-align: middle;
    max-height: 140px;
}

.category p {
    border-top: 1px dashed #d88;
    text-align: center;
    display: block;
    margin-bottom: 20px;
    background-image: linear-gradient(to top, #fff, #fdd);
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    height: 3em;
    color: #333;
    padding: 4px 0;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -ms-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
}

.category:hover p {
    color: #d33333;
}

.category > .box, .link > .box {
    height: 200px;
}

/* Box */

.box {
    padding: 15px;
    position: relative;
    border-radius: 8px;
    display: block;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    background-color: #fff;
    color: #343C40;
    margin-top: 10px;
    margin-bottom: 20px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    height: 246px;

    /*246   */
}

.box:hover {
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.4);
}

.box hr {
    margin: 1em -1em;
}

.box hr.grey {
    border-top: 1px solid #efefef;
}

a.box:hover {
    text-decoration: none;
    opacity: 1;
    color: inherit;
}

.box .table th {
    white-space: nowrap;
}

.box .colors {
    position: absolute;
    top: 15px;
    right: 15px;
    padding-left: 4px;
    padding-top: 3px;
    border-radius: 5px;
    background-color: rgba(165, 169, 173, 0.33);
    opacity: 0.6;
    transition: opacity .15s ease-in-out;
}

.box .colors:hover {
    opacity: 1;
}

.colors {
    margin-bottom: 10px;
}

.colors > .color {
    width: 25px;
    height: 25px;
    /*border-radius: 50%;*/
    display: inline-block;
    margin-right: 5px;
    /*background-position: center center;*/
    background-size: contain;
}

.colors.big-colors > .color {
    width: 50px;
    height: 50px;
}

.colors > .size {
    font-size: 12px;
    font-weight: 500;
    width: 40px;
    height: 20px;
    border: 1px #999 solid;
    border-radius: 10%;
    padding: 2px;
    display: inline-block;
    margin-right: 5px;
    color: #eee;
    overflow: hidden;
    line-height: 15px;
    text-align: center;
}

.colors > .size:hover {

}

.box .colors > .color {
    display: block;
    margin-bottom: 5px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    line-height: 25px;
    text-align: center;
}

.box .colors > .size {
    display: block;
    margin-bottom: 5px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.box .image {
    /*margin-right: 30px;*/
    text-align: center;
    height: 150px;
}

.box .image img {
    max-width: 100%;
    max-height: 150px;
}

.box h3 {
    margin: 10px 0;
}

.box h4 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 2.1em;
}

.box .price {
    margin-bottom: 0;
    font-size: 1.2em;
    font-weight: wide;
}

.price:after {
    content: '₽';
    font-weight: 500;
    margin-left: 5px;
}

.box p {
    margin: 0;
    font-weight: 300;
}

/* News */

.box.news.filled {
    padding: 0;
    overflow: hidden;
    color: #fff;
    background: #000;
}

.box.news.filled .image {
    margin: 0;
    width: 100%;
    height: auto;
    opacity: 0.8;
}

.box.news.filled .image img {
    width: 100%;
    max-height: none;
}

.box .clearfix h3 {
    margin: 0;
    float: left;
}

.box .clearfix p.date {
    margin: 0;
    float: right;
}

.box.news.filled h3 {
    position: absolute;
    top: 25px;
    left: 25px;
    margin: 0;
    color: #fff;
}

.box.news.filled .date {
    position: absolute;
    top: 25px;
    right: 25px;
    margin: 0;
}

.box.news.filled .intro {
    position: absolute;
    bottom: 25px;
    left: 25px;
    margin: 0;
}

/* Pagination */

.pagination .disabled {
    display: none;
}

.pagination > li > a,
.pagination > li > span {
    border: none;
    background: none;
    color: #343C40;
    border-radius: 0;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    color: #343C40;
    border: none;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background: #119279;
}

.image {
    text-align: center;
}

.image img {
    max-width: 100%;
    max-height: 400px;
}

.article {
    margin-bottom: 10px;
}

.article p {
    font-size: 16px;
    font-weight: 300;
}

.price {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 8px;
    display: inline-block;
}

.radio-group {
    border: 1px solid #119279;
    border-radius: 8px;
    width: 100%;
    margin-bottom: 10px;
}

.radio-group .btn-primary:not(.active):hover, .btn-primary:active, .btn-primary:not(.active):focus {
    background-color: transparent !important;
}

.radio-group .btn-primary {
    background: none;
    width: 50%;
    color: #2B2A29 !important;
    font-size: 16px;
    font-weight: 500;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.radio-group .btn-primary:not(.active):hover, .btn-primary:active, .btn-primary:not(.active):focus {

    -webkit-box-shadow: none;
    box-shadow: none;
}

.radio-group .btn-primary.active {
    background-color: transparent !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff !important;
}

.radio-group .btn:before {
    display: none;
}

.radio-group .btn:first-child.active:before {
    transform: scale(1);
    transform: translateX(0);
}

.radio-group .btn:first-child:before {
    transform: scale(1);
    border-radius: 0;
    display: block;
    background-color: #119279;
    transform: translateX(100%);
}

.in-cart i {
    margin-right: 10px;
}

.price-details {
    background-color: #343c40;
    font-size: 18px;
    padding: 15px;
    color: #fff;
}

.price-details p {
    margin: 0;
}

.price-details p:last-child {
    font-size: 22px;
    margin: 6px 0;
}

.price-details p:last-child .price {
    line-height: 32px;
}

.price-details .price {
    font-size: 1em;
    margin: 0;
}

.price-info {
    padding: 15px;
    background-color: #b4c2c3;
    color: #fff;
    margin-bottom: 10px;
}

.price-info i {
    font-size: 60px;
    margin-right: 15px;
    float: left;
}

.price-info p {
    font-size: 12px;
    font-weight: 300;
    line-height: 12px;
    margin: 0;
}

.details p {
    margin: 0;
}

.details p strong {
    font-weight: 500;
}

.details p a {
    border-bottom: dotted 1px;
}

.details p a:hover, .details p a:focus {
    text-decoration: none;
    border: none;
}

.details > *:last-child {
    margin-bottom: 10px;
}

.right {
    float: right;
}

.color-select {
    padding: 2px 5px;
}

.color-select.active {
    z-index: 1 !important;
}

.width-form, .height-form, .area-form {
    margin: 0;
    width: 100% !important;
    border: 1px solid;
    border-radius: 2px;
}

.select-group > .col-xs-3 {
    padding: 0;
}

.select-group > .col-xs-1 {
    height: 34px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown {
    border: 1px solid;
}

.operation {
    margin: 0 5px;
}

.cart-content {
    animation-name: block;
    position: absolute;
    width: 600px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    z-index: 999;
    padding: 5px;
    right: 0;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0s 0.3s;
}

.header-wrapper .cart-content {
    top: 38px;
}

@media (min-width: 1200px) {
    .header-wrapper .cart-content {
        top: 99px;
    }
}

.add-header .cart-content {
    top: 43px;
}

.tech-place {
    text-align: center;
}

.tech-place-selected {
    height: 190px;
}

.tech-place-select > img {
    height: 95px;
    width: auto !important;
}

.cart-error {
    background-color: #bbb;
    color: #666;
    border: dotted 2px #990000;
}

.loadingu {
    position: relative;
    left: 45%;
}

.notifications {
    position: fixed;
    width: 100%;
    top: 232px;
    min-width: 960px;
    z-index: 1110;
    left: 0;
    overflow: hidden;
}

@media (min-width: 1200px) {
    .notifications {
        top: 106px;
    }
}

.notifications.fixed {
    top: 59px;
}

.navbar-info {
    list-style: none;
    margin: 10px 0px;
    padding: 0;
}

.navbar-info li a {
    font-size: 16px;
    font-weight: 500;
    color: #4f5758;
}

.navbar-info li a:hover {
    text-decoration: underline;
}

.cart td, th {
    text-align: center
}

.header-height {
    height: 88px;
}

.items-search {
    padding: 10px 20px;
}

.dropdown .selected, .dropdown li {
    font-size: 14px;
}

#catalog-description {
    height: 0px;
    overflow-y: hidden;
}

/* Collapsy mini-widget */

.collapsy-text {
    overflow-y: hidden;
}

.collapsy-overlay {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffffff');
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0), #fff);
    background: -o-linear-gradient(rgba(255, 255, 255, 0), #fff);
    background: linear-gradient(rgba(255, 255, 255, 0), #fff);
    height: 145px;
    margin: -145px 0 5px;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.collapsy-action {
    display: inline-block;
}

.collapsy-action .readmore {
    cursor: pointer;
    text-decoration: underline;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
    color: inherit;
    background-color: inherit;
}

.select2-container .color {
    height: 1.25em;
    display: block;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: box-shadow 0.3s ease-in-out;
    -moz-transition: box-shadow 0.3s ease-in-out;
    -ms-transition: box-shadow 0.3s ease-in-out;
    -o-transition: box-shadow 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out;
}

.price-notice {
    font-size: 11px;
    font-weight: 500;
    padding: 0;
    height: 14px;
    text-align: center;
}

.cart-block {
    border: 1px #fcc dashed;
    background-color: #F2F5F6;
    border-radius: 8px;
}

.similar-items {
    height: auto !important;
}

a.size.active {
    background-color: #eee !important;
    color: #333;
    text-decoration: underline;
}

.clients {
    padding: 10px;
    height: auto;
}

.clients td {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}

.clients .works .item, .technology .works .item {
    float: left;
    margin-right: 5px;
    padding: 5px;
    border: 1px #ffe7e7 solid;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.clients .works .item:hover, .technology .works .item:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.clients .works .item:nth-child(3n), .technology .works .item:nth-child(5n) {
    margin-right: 0;
}

.clients .works .item img, .technology .works .item img {
    width: 100%
}

.clients .logo img {
    width: 100%;
}

.clients .title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
}

.clients .description {
    margin-bottom: 5px;
}

.clients .works-description, .technology .works-description {
    padding: 5px 10px;
    font-weight: 500;
    border: 1px #ffe7e7 solid;
    border-radius: 10px;
    margin-bottom: 5px;
}

.mfp-figure:after {
    background: white;
}

.wider {
    font-weight: 400;
}

.wider li {
    margin-bottom: 10px;
}

.print-link {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
}

.print-link:hover {
    text-decoration: underline;
}

.print-link i {
    display: block;
    font-size: 41px;
    margin-right: 10px;
    line-height: 41px;
}

.print-link:hover i {
    text-decoration: none;
}

.block > .focal > .row {
    margin-left: 0;
    width: 100%;
}

.download-icon {
    font-size: 14px;
    font-weight: 500;
    padding: 5px;
}

.download-icon:before {
    font-family: 'Glyphicons Halflings';
    font-size: 24px;
    content: "\e025";
}

#technology div.back {
    display: flex;
    align-items: center;
}

#technology div.back > p {
    font-weight: 500;
    font-size: 15px;
}

/* Калькулятор технологий */

.btn-calc {
    display: flex;
    align-items: center;
    float: right;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.btn-calc i {
    color: #288ebe;
    display: block;
    font-size: 41px;
    margin-right: 10px;
    line-height: 41px;
}

.btn-calc:hover, .btn-calc:hover i {
    color: #DA291F;
}

.calc-description i {
    float: left;
    font-size: 56px;
    margin: 0 25px 0 15px;
    color: #617aa4;
    text-shadow: 4px 4px #97a8c3;
}

.calc-description p {
    margin-bottom: 0;
}

#calcModal .modal-dialog {
    width: 800px;
}

#calcModal > .modal-dialog > .row > div {
    padding: 0;
}

.text-align_right {
    text-align: right;
}

.text-align_center {
    padding: 0;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calc-description p {
    text-align: justify;
}

.calc-price {
    padding: 15px 0;
}

.calc-price p {
    border-bottom: 1px dashed #ccc;
    padding: 5px 15px;
    margin-bottom: 5px;
}

.calc-price p:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.calc-price p:first-child {
    padding-top: 0;
    font-weight: 400;
}

#calcModal .form-group .row {
    margin-left: 0;
    margin-right: 0;
}

.font-style_italic {
    font-style: italic;
}

.font-style_italic label {
    font-weight: normal;
}

#calcModal .form-group input {
    width: 100%;
}

.calc-text-name {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.calc-form {
    min-height: 193px;
}

.calc-image {
    text-align: center;
}

.calc-image img {
    width: 80%;
    margin-bottom: 5px;
}

.calc-image hr {
    margin: 0 -15px 15px;

}

.calc-form .row .col-xs-3 {
    padding: 0;
}

.base-price.price {
    font-size: 1.5em;
}

.site-signup {
    /*width:50%;*/
    margin: 0 30px;
}

.logo_print-text {
    display: none;
}

label, b, strong {
    font-weight: 500;
}

.page-imena img {
    max-width: 100%
}

.number-form {
    border: 1px solid;
    border-radius: 2px;
}

.modal-tech-button {
    cursor: pointer;
}

.spec .box .title {
    white-space: initial;
    height: 3.3em;
    text-align: center;
}

.spec .box .title.has-price {
    height: 2.1em;
    text-align: left;
}

/* Место выбора нанесения */

form > .technology h3 {
    margin: 0 0 5px;
    font-size: 18px;
}

form > .technology .form-group, form > .technology .help-block {
    margin-bottom: 0;
}

form > .technology .checkbox {
    margin: 10px 0 5px;
}

form > .technology .field-schemeimage-_upload .thumbs {
    margin-top: 5px;
}

form > .technology .field-schemeimage-_upload .thumbs .thumb {
    margin-bottom: 5px;
}

.colors {
    margin-bottom: 0;
}

hr {
    margin: 1em 0;
}

@media (min-width: 1200px) {
    .col-15-lg-3 {
        width: 20%;
    }
}

.constructor > a {
    color: #e56b1b;
}

span.catalog {
    color: #337ab7;
    border-bottom: #337ab7 dotted 1px;
    cursor: default;
}

td.cart-tech-text {
    text-align: left;
}

td.cart-tech-text > h3 {
    font-size: 18px;
    margin: 5px 0;
}

td.cart-tech-text > p {
    margin: 0 0 5px;
}

td.cart-tech-text > p > b {
    margin: 0;
}

td.cart-tech-text > p > .price {
    font-size: 14px;
}

.profile-page .box {
    height: auto;
}
