.thumbnails .thumbnail {
    position: relative;
}

.thumbnail:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.3);
}

.thumbnail .close, .thumbnail .define, .thumbnail .current {
    position: absolute;
    font-size: 20px;
    right: 5px;
    top: 5px;
    opacity: 1;
    outline: none;
    text-shadow: none;
    color: #fff;
    cursor: pointer;
    transform-origin: center;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.thumbnail .define {
    right: 30px;
    display: block;
    transform: scale(1);
}

.thumbnail .current {
    bottom: 5px;
    left: 5px;
    top: auto;
    right: auto;
    transform-origin: center;
    transform: scale(0);
}

.thumbnail.cover .current {
    transform: scale(1);
}
.thumbnail.cover .define {
    transform: scale(0);
}

.thumbnail .close:hover, .thumbnail .define:hover {
    color: #ccc;
}

.set-cover {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
    transition: background-color 0.5s;
}

.set-cover span {
    /*font-size: 20px Ar;*/
    position: absolute;
    right: 0;
    top: 50%;
    opacity: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.set-cover:hover span {
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.set-cover:hover {
    background-color: rgba(28, 204, 44, 0.64);
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.fa-refresh:hover:before {
    animation: rotate 1s linear infinite ;
    -webkit-animation: rotate 1s linear infinite ;
}